* {
    font-family: 'Poppins', sans-serif;

}

.--logo-intro {
    width: 500px;
    height: 300px;
    justify-content: center;
    display: flex;
    padding-top: 0 auto;
    margin-top: 0 auto;
}

.services-list{
    justify-content: center;
    list-style-type: none;
    padding:1em;
}

.diy {
    justify-content: center;
}

.logo {
    width: 5em;
}

footer {
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;

}

footer a{
    text-decoration: none;
}

.tech1, .client1{
    width:100%;
    justify-content: center;
    display: flex;
}

.about p{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    display: block;
}
@media (max-width: 768px) {
    .navbar-toggler {
        display: flex;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .nav-item {
        flex: 1;
        text-align: center;
    }

    .--logo-intro {
        width: 93vw;
        justify-content: center;
        display: flex;
        padding-top: 0 auto;
        margin-top: 0 auto;
    }
    .services-list{
        justify-content: center;
        list-style-type: none;
        padding:1em;
    }

    body {
        background-color: white;
    }

    .footer-info{
        text-decoration: none;
        margin: 0 auto;
        padding: 0 auto;
        justify-content: center;
    }
    .footer-info a{
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    .fa-brands{
       justify-content: center;
       font-size: 2em;
    }
   
}



/* slider */


.slider-container {
    width: 100%;
    overflow: hidden;
  }
  .slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  .slide {
    width: 90%;
    height: 80%;
  }

  .slide img{
    width: 400px;
  }